.list-item {
  min-width: 50%;
  margin: 10px;
}

.button {
  background-color: #382f5a;
  width: 100%;
  color: #d4d2db;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 6px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: 32px;
  text-align: center;
}
